/* Add this to your CSS file */
.image-standard {
    width: 100%;
    max-width: 600px; /* Ensures images don't stretch beyond this size */
    height: 400px;    /* Fixed height for all images */
    object-fit: cover; /* Ensures the image scales proportionally without distortion */
    border-radius: 0.5rem; /* Optional for rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a professional look */
}

#user-profile .account_settings {
    text-align: center;
    font-size: 30px;
    object-fit: cover; 
    line-height: 0.6;
    color: rgba(25, 70, 159, 0.977);
}

/* Userfooter Section */
#user-profile-footer {
    background-color: white; /* White background for footer */
    text-align: left; /* Center the footer content */
    padding: 20px;
    font-weight: bold;
    color: blue; /* Blue text */
    width: 100%;
    position: absolute;
    bottom: 0;
}

#user-profile-save {
    background-color:rgba(25, 70, 159, 0.977); /* Blue text */
    font-weight: bold;
    color: white; /* Blue text */
    width: 40%;
    position: left;
    left: 5px;
    line-height: 2.5;
}

#user-profile-predict {
    background-color: rgba(25, 70, 159, 0.977); /* Blue text */
    font-weight: bold;
    color: white; /* Blue text */
    width: 40%;
    left: 5px;
    line-height: 1.2;
}

/* Override Bootstrap button styles
.btn-primary {
    background-color: #004085; /* Custom dark blue */
    /* border-color: #003366;
} */

/* Custom styles for your form container */
/* .custom-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
} */

/* Centering content with custom CSS */
/* .centered-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
/* } */ 

