{% extends 'insurance_app/base.html' %}
{% load static %} 

{% block title %}Welcome to Assur'Aimant{% endblock %}

{% block content %}
<!-- Conteneur principal avec flexbox -->
<div class="flex flex-col min-h-screen bg-[#FBFCFA]">
    <!-- Section principale qui occupe l'espace restant -->
    <div class="flex-grow flex flex-col items-center justify-center text-center py-12">
        <h1 class="text-5xl md:text-6xl font-bold text-emerald-900 mb-4">
            Welcome to Assur'Aimant
        </h1>
        <h2 class="text-lg md:text-2xl italic text-black">
            Because Your Health Deserves a Plan That Fits.
        </h2>
    </div>

    {% comment %} <!-- Slideshow Section -->
    <div class="slideshow-container">
        <!-- Blurred background -->
        <div
            class="slideshow-blur"
            id="slideshow-blur"
            style="background-image: url('{% static "images/background1.svg" %}")">
        </div>
    
        <!-- Main image -->
        <div
            class="slideshow-image"
            id="slideshow-image"
            style="background-image: url('{% static "images/background1.svg" %}")">
        </div>

        <!-- Slideshow text -->
        <div id="slideshow-text" class="absolute inset-0 flex items-center justify-center text-white text-center">
            <h1 class="text-4xl font-bold">Welcome to Assur'Aimant</h1>
        </div>
    </div> {% endcomment %}

    <!-- Info Bar simplifiée -->
    <div class="bg-gray-100 bg-opacity-95 p-6 md:p-10 w-11/12 md:w-4/5 mx-auto rounded-lg shadow-md mt-auto">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            {% for section in info_bar_sections %}
            <div class="text-center md:text-left">
                <h3 class="mb-3 font-bold text-lg text-emerald-900">{{ section.title }}</h3>
                <ul class="list-none space-y-2">
                    {% for link in section.links %}
                    <li><a href="{{ link.url }}" class="text-gray-900 hover:text-[#ed1c24] transition duration-300">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<!-- Include the external JavaScript file -->
<script src="{% static 'js/slideshow.js' %}"></script>
{% endblock %}
