{% extends "base.html" %}

{% block  content %}
    <h2>Welcome to your Profile </h2>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% comment %} 
    <ul>
        {% for article in articles %}
            <li class="Article">
                <p><strong>{{article.titre }}</strong> - {{article.date_publication|date:"D M Y" }} - {{article.category }}</p>
                <p>{{ article.contenu }}</p>

            </li>
        {% endfor %}
    </ul> {% endcomment %}
{% endblock %}


