{% extends "base.html" %}

{% block content %}
<div id ="user-profile" class="form-container">
    <h2 id="user-profile" class="account_settings">
        Edit Your Personal Information
    </h2>

    <div class="d-flex justify-content-center mt-3">
        <form method="post" action="" class="p-5 border rounded shadow">
            {% csrf_token %}
            
            <div class="mb-5">
                {{ form.as_p }}
            </div>
            
            <div class="row text-center mt-3">
                <div class="col-md-6">
                    <button id="user-profile-save" type="submit" class="btn btn-primary">Save</button>
                </div>
                <div class="col-md-6">
                    <button id="user-profile-predict" type="submit" class="btn btn-secondary">Predict charges</button>
                </div>
            </div>
        </form>
    </div>
    
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %} 
{% endblock %} 


        
